<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SaveYoutube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>975BC7001BC7B73200872FF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>975BC71C1BC7B73300872FF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>975BC7271BC7B73300872FF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
